__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
.eggs/
dist/
build/
*.log
*.daemon.log
.env
.trash/
packages/csc-service/csc_service/buffers/
packages/csc-service/csc_service/bridge/Server_data.json
packages/csc-version/csc_version/staging_uploads/

vfs/
