[Unit]
Description=CSC Memory Web Service
After=network.target

[Service]
ExecStart=/opt/csc/bin/python /opt/csc/irc/bin/csc-memory-web
WorkingDirectory=/opt/csc/irc
Environment=PYTHONPATH=/opt/csc/irc/packages/csc-memory
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
